@model BoyGin.Models.DTOProveedor
@{
    ViewBag.Title = "EditarProveedor";
}

<h2>Editar @Model.nombre_razonSocial </h2>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.idProveedor)

            <div class="form-group">
                <label>Nombre / Razón social</label>
                @Html.TextBoxFor(x => x.nombre_razonSocial, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Apellido / Tipo sociedad</label>
                @Html.TextBoxFor(x => x.apellido_TipoSoc, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Direccion</label>
                @Html.TextBoxFor(x => x.direccion, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Número</label>
                @Html.TextBoxFor(x => x.numeroDireccion, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Localidad</label>
                @Html.TextBoxFor(x => x.localidad, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Provincia</label>
                @Html.DropDownListFor(x => x.idProvincia, new SelectList(ViewBag.listadoProvincias, "idProvincia", "nombreProvincia"), "Seleccione el tipo", htmlAttributes: new { @class = "form-control", @id = "cmbTipo" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(x => x.email, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                @Html.TextBoxFor(x => x.telefono, htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.HiddenFor(x => x.estado)

            <input type="submit" value="Modificar" class="btn btn-success" />
        }
    </div>
    <div class="col-md-2"></div>
</div>


